body {
  font-family: "Noticia Text", serif;
  color: #ffffff;
}
h1 {
  font-size: 24px;
  color: #0b4d74;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 7px;
}

ul,
li {
  margin: 0;
  padding: 0;
  color: #15141b;
  list-style: none;
  font-size: 15px;
  font-weight: 500;
}
li:first-letter {
  text-transform: capitalize;
}
small {
  color: #0b4d74;
  font-weight: bold;
}
.capital-cities-map {
  display: block;
  margin: 0 0 10px 10px;
  text-align: center;
  padding: 0 0 0 20px;
}

button#city-antwerp,
button#city-krakow,
button#city-benidorm {
  font-size: 13px;
  color: #180705;
  font-weight: 200;
  border: 1px solid #6a8c9e;
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  background: #4f9fad;
  transition: all 150ms ease-in-out;
}
button#city-antwerp:hover,
button#city-krakow:hover,
button#city-benidorm:hover {
  color: #ffffff;
  cursor: pointer;
  opacity: 0.7;
}

input#city-input {
  border-radius: 30px;
}
.title {
  font-family: "Lobster", cursive;
  color: #0b4d74;
  font-size: 24px;
  margin-bottom: 15px;
  line-height: 1;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 20px auto;
}
.weather-app {
  background-image: url("https://eyeonmontreal.files.wordpress.com/2015/04/sunset-quotes-21-1586531574.jpg?w=593&h=395");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 500px;
  margin: 20px auto 5px;
  padding: 15px;
  border: 2px double #dadde1;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #3188bb;
}
.spaceing {
  margin-bottom: 5px;
}

.col-6 {
  padding-right: 5px;
}
.weather-temperature img {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  width: 56px;
  display: block;
}
.weather-temperature strong {
  color: #0b4d74;
  font-size: 56px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -26px;
}
.weather-temperature .active {
  color: #0b4d74;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.present-temperature .main-max,
.present-temperature .main-min {
  font-size: 13px;
  display: inline;
}
.present-temperature .feels-like {
  font-size: 13px;
}
.present-temperature .main-max {
  margin-right: 0;
}
.present-temperature .main-min {
  margin: 0 8px;
}
.open-source a {
  color: #180705;
}
.btn-info {
  margin: 0 5px;
  padding: 6px 10px;
  border: 1px solid #0b4d74;
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
